:root {
  --width: 980px;
  --border: 1px solid rgb(193, 207, 210);
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

ion-col {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#repos-tabs {
  display: flex;
  width: var(--width);
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tab {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(197, 203, 209, 0);
  border-bottom-width: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: #586069;
}

.tab-selected {
  border: 1px solid rgb(197, 203, 209);
  border-bottom-width: 0px;
  background-color: #eaecef;
  color: #24292e;
}
/*
.tab a {
  text-decoration: none;
  color: #586069;
}

.tab-selected a {
  color: #24292e;
}
*/
.tab:hover {
  color: #24292e;
}

.repos {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid rgb(197, 203, 209);
  padding: 5px;
}

.no-repos {
  text-align: center;
  color: darkslategrey;
}

#footer-message {
  color: grey;
  text-align: center;
  font-size: 0.8em;
}

.monospace {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

.grey {
  color: grey;
}

.flex-center {
  display: flex;
  justify-content: center;
}
