:root {
  --mono-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  --gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#node-banner {
  background-color: #f3f5f5;
  margin-left: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  border-top: var(--border);
  border-bottom: var(--border);
}

#node-banner-display {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: var(--width);
  max-width: 100%;
}

div#node-title {
  margin-right: auto;
  margin-left: 5px;
  font-family: var(--gill-sans)
}

div#node-name {
  font-size: 1.5em;
}

span#node-name {
  vertical-align: middle;
}

#node-version {
  font-family: monospace;
  color: grey;
}

.version-badge {
  vertical-align: middle;
  margin-left: 6px;
}

div#node-txid {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: var(--mono-font);
  color: grey;
  font-size: 0.8em;
}

a#node-publickey {
  color: grey;
}

div#money-button-container {
  width: 120px;
  margin-left: auto;
  margin-right: 5px;
}

#children-container {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  margin: auto;
  color: grey;
  border: var(--border);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.children-grid {
  padding: 0px;
}

.children-row:first-child {
  padding-top: 5px;
}

.children-row:last-child {
  padding-bottom: 5px;
}


.children-row {
  padding-left: 5px;
}

.children-row:hover {
  background-color: #f3f5f5;
}

.child-link {
  vertical-align: middle;
}

ion-icon {
  vertical-align: middle;
}

.col-txid {
  font-size: 0.8em;
  vertical-align: middle;
}

.children-drag-highlight {
  background: #f3f5f5;
}

#directory-buttons-container {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#download-button {
  margin-left: auto;
}

#clone-container {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  margin: auto;
  font-size: 0.9em;
  color: grey;
  border: var(--border);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#clone {
  padding: 10px;
}

#clone input {
  font-family: var(--mono-font);
  font-size: 1em;
  color: grey;
  padding-top: 5px;
  width: 780px;
  max-width: 95%;
}

div#readme {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  border: var(--border);
  border-radius: 5px;
  font-size: 0.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

div#file-data {
  width: var(--width);
  max-width: 100%;
  margin: auto;
  border: var(--border);
  border-radius: 5px;
  font-size: 0.9em;
  /*padding: 5px;*/
  padding-top: 0px;
}

#img-data-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#img-data {
  max-width: var(--width);
}

.video-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.video-data {
  width: 100%;
  max-width: var(--width);
}

pre#text {
  overflow-x: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
  margin-bottom: 0px;
}

#footer-message {
  color: grey;
  text-align: center;
  font-size: 0.8em;
}

ion-button {
  text-transform: none;
}

.monospace {
  font-family: var(--mono-font);
}

.grey {
  color: grey;
}

.italic {
  font-style: italic;
}
