
#overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  cursor: pointer;
  overflow-y: auto;
}

#dialog {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.form-group {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 10px;
}

legend {
  color: grey;
}

.form-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.label {
  text-align: right;
  font-weight: bold;
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 100%;
  }
  .label {
    text-align: left;
  }
}

label {
  vertical-align: middle;
}

input {
  padding: 5px;
}

#dialog-buttons {
  display: flex;
  justify-content: center;
}

.input-note {
  font-size: 0.8em;
  color: grey;
}

td {
  vertical-align: top;
}

#repo-master-key {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  color: orange;
}

#store-master-key {
  vertical-align: middle;
}

.hidden {
  vertical-align: middle;
}

#repo-hidden {
  vertical-align: middle;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dialog-money-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#money-button-encapsulator {
  width: 150px;
}

#new-repo-money-button {
  margin: auto;
}

.checkbox-input {
  vertical-align: middle;
}


#buttons {
  margin-top: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}