.node-attribution {
  border-radius: 20px;
  display: flex;
  width: 100%;
  max-width: 980px;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 5px;
  color: grey;
  justify-content: flex-start;
}

.by {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.creator {
  border-radius: 5px;
  background-color: grey;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.creator-link {
  color: rgb(219, 218, 218);
  text-decoration: none;
}